<!DOCTYPE html>
<html lang="en">

<head>
    <script src="userActivityTracker.js" type='text/javascript'></script>
    <style>
        @import'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css';
        @import'https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js';
        @import'https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js';

        body {
            background-color: white;
            font-family: sans-serif;

        }

        a {
            text-decoration: none;
            color: black;
        }

        .btn {
            width: 100px;
            border-style: solid;
            border-radius: 45%;
            color: white;
            background-color: #DA70D6;
        }

        .buttonl {
            text-decoration: none;
        }

        .navbar {
            background-color: white;
            box-shadow: 0 2px 2px -2px rgba(128, 128, 128, 0.808);
            padding-bottom: 0px;
        }

        .desc {
            margin-top: 10%;
            margin-left: 2%;
        }

        .text1 {
            color: #DA70D6;
            font-weight: 700;
        }

        .detail {
            color: #a4adb8;
        }

        .btn-submit {
            border-radius: 50px;
            border: none;
            height: 35px;
            width: 120px;
            font-size: 14px;
            font-weight: 500;
            background-color: #DA70D6;
            color: #fff;
            font-weight: 500;
            margin-left: 15%;

        }

        .accuiel {
            position: absolute;
            top: 40%;
            width: 40%;
            margin-left: 55%;
            margin-top: calc(-10%);
        }

        .card1 {
            margin-left: 5%;
        }
    </style>

</head>

<body>
    <nav id="mainNavbar" class="navbar navbar-expand-md py-0 fixed-top fixed-left bg-white">
        <br><br><br><br>
        <a href="#" class="navbar-brand"><img class="logo" width="18%" src="./img/logo.png"></a>
        <div class="collapse navbar-collapse" id="navLinks">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="" onclick="" class="nav-link">About</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">Services</a>
                </li>
                <li class="nav-item">
                    <a href="" class="nav-link">Contacts</a>
                </li>

                <div class="my-button container">
                    <a class="buttonl" href="/inscrire">
                        <button class="btn btn-raised shadow my-button w-xs bg-purpule btn-submit">Commencer</button>
                    </a>
                </div>
            </ul>
        </div>
    </nav>

    <div class="desc py-4 align-items-center">
        <div class="card1 mt-3 p-3 g-2">
            <div class="mt-3">
                <h2 class="text1">Plateforme d'Analyse d'Audience<br>
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;
                    pour les Sites Web
                </h2>
            </div>

            <div class="detail mt-5">
                <small>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    TrackMySite est une plateforme en ligne qui offre un suivi détaillé et une analyse<br>

                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    approfondie des performances des sites web, y compris le trafic, les conversions,<br>

                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    le référencement et le contenu, avec la possibilité de créer des rapports<br>

                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                    personnalisés et des intégrations avec d'autres outils populaires.</small>
            </div><br><br><br>

            <a class="buttonl" href="/inscrire">
                <button class="btn-submit">Commencer</button>
            </a>
        </div>
        <img class="accuiel" src="./img/accuiel.avif">
    </div>

    <script>
        // Stockage du trackingId extrait de l'URL
        var urlParams = new URLSearchParams(window.location.search);
        var trackingId = urlParams.get('trackingId');
        if (!trackingId) {
            // Si le trackingId n'est pas trouvé dans l'URL, utilisez un fallback ou demandez à l'utilisateur de le fournir
            trackingId = "8e22796c-015e-4d73-8e93-8649f9b357e3"; // Fallback trackingId
        }

        // Stockage du timestamp de début de la visite
        var startTime = Math.floor(new Date().getTime() / 1000);

        function sendData(data) {
            data.tracking_id = trackingId; // Ajouter le trackingId aux données envoyées
            fetch('http://localhost:3008/api/track-interaction', {
                method: 'POST',
                mode: 'cors',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    console.log('Data sent successfully:', data);
                })
                .catch(error => {
                    console.error('Error sending data:', error);
                });
        }

        // Événement déclenché lorsqu'une page est chargée
        window.addEventListener('load', function () {
            // Calcul de la durée de la visite
            var endTime = Math.floor(new Date().getTime() / 1000);
            var visitDuration = endTime - startTime;

            // Envoi des données de la visite
            sendData({ event_type: 'visit', page: window.location.href, duration: visitDuration });
        });

        // Événement déclenché lorsqu'une page est quittée
        window.addEventListener('beforeunload', function () {
            // Calcul de la durée de la visite
            var endTime = Math.floor(new Date().getTime() / 1000);
            var visitDuration = endTime - startTime;

            // Envoi des données de la visite
            sendData({ event_type: 'leave', page: window.location.href, duration: visitDuration });
        });

        // Capturer les clics sur chaque lien dans le document
        document.querySelectorAll('a').forEach(function (link) {
            link.addEventListener('click', function () {
                // Envoi des données du clic sur le lien avec l'élément spécifié comme "link"
                sendData({ event_type: 'click', element: 'link', timestamp: Math.floor(new Date().getTime() / 1000), page: link.href });
            });
        });

        // Capturer les clics sur chaque bouton dans le document
        document.querySelectorAll('button').forEach(function (button) {
            button.addEventListener('click', function () {
                // Envoi des données du clic sur le bouton avec l'élément spécifié comme "button"
                sendData({ event_type: 'click', element: 'button', timestamp: Math.floor(new Date().getTime() / 1000), page: window.location.href });
            });
        });
    </script>


</body>

</html>