<!-- register.handlebars -->
<!DOCTYPE html>
<html>

<head>
    <script src="userActivityTracker.js" type='text/javascript'></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
        @import url('https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css');
        @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css');

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }

        :root {

            --body-color: #f7c9f721;
            --sidebar-color: #FFF;
            --primary-color: #DA70D6;
            --primary-color-light: #F6F5FF;
            --toggle-color: #DDD;
            --text-color: #DA70D6;
            --tran-03: all 0.2s ease;
            --tran-03: all 0.3s ease;
            --tran-04: all 0.3s ease;
            --tran-05: all 0.3s ease;
        }

        body {
            min-height: 100vh;
            background-color: var(--body-color);
            transition: var(--tran-05);
        }

        ::selection {
            background-color: var(--primary-color);
            color: #fff;
        }

        /* ===== Sidebar ===== */
        .sidebar {
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 250px;
            padding: 10px 14px;
            transition: var(--tran-05);
            z-index: 100;
        }

        .sidebar.close {
            width: 88px;
        }

        /* ===== Reusable code - Here ===== */
        .sidebar li {
            height: 50px;
            list-style: none;
            display: flex;
            align-items: center;
            margin-top: 10px;
        }

        .sidebar header .image,
        .sidebar .icon {
            min-width: 60px;
            border-radius: 6px;
        }

        .sidebar .icon {
            min-width: 60px;
            border-radius: 6px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
        }

        .sidebar .text,
        .sidebar .icon {
            color: var(--text-color);
            transition: var(--tran-03);
        }

        .sidebar .text {
            font-size: 17px;
            font-weight: 500;
            white-space: nowrap;
            opacity: 1;
        }

        .sidebar.close .text {
            opacity: 0;
        }

        /* =========================== */

        .sidebar header {
            position: relative;
        }

        .sidebar header .image-text {
            display: flex;
            align-items: center;
        }

        .sidebar header .logo-text {
            display: flex;
            flex-direction: column;
        }

        header .image-text .name {
            margin-top: 2px;
            font-size: 18px;
            font-weight: 600;
            color: #DA70D6;
        }

        header .image-text .profession {
            font-size: 16px;
            margin-top: -2px;
            display: block;
        }

        .sidebar header .image {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .sidebar header .image img {
            width: 40px;
            border-radius: 6px;
        }

        .sidebar header .toggle {
            position: absolute;
            top: 50%;
            right: -35px;
            transform: translateY(-50%) rotate(180deg);
            height: 40px;
            width: 40px;
            background-color: var(--primary-color);
            color: var(--sidebar-color);
            border-radius: 3px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 22px;
            cursor: pointer;
            transition: var(--tran-05);
        }

        body.dark .sidebar header .toggle {
            color: var(--text-color);
        }

        .sidebar.close .toggle {
            transform: translateY(-50%) rotate(0deg);
        }

        .sidebar .menu {
            margin-top: 40px;
        }

        .sidebar li.search-box {
            border-radius: 6px;
            background-color: var(--primary-color-light);
            cursor: pointer;
            transition: var(--tran-05);
        }

        .sidebar li.search-box input {
            height: 100%;
            width: 100%;
            outline: none;
            border: none;
            background-color: var(--primary-color-light);
            color: var(--text-color);
            border-radius: 6px;
            font-size: 17px;
            font-weight: 500;
            transition: var(--tran-05);
        }

        .sidebar li a {
            list-style: none;
            height: 100%;
            background-color: transparent;
            display: flex;
            align-items: center;
            height: 100%;
            width: 100%;
            border-radius: 6px;
            text-decoration: none;
            transition: var(--tran-03);
        }

        .sidebar li a:hover {
            background-color: var(--primary-color);
        }

        .sidebar li a:hover .icon,
        .sidebar li a:hover .text {
            color: var(--sidebar-color);
        }

        body.dark .sidebar li a:hover .icon,
        body.dark .sidebar li a:hover .text {
            color: var(--text-color);
        }

        .sidebar .menu-bar {
            height: calc(100% - 55px);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            overflow-y: scroll;
        }

        .menu-bar::-webkit-scrollbar {
            display: none;
        }

        .sidebar .menu-bar .mode {
            border-radius: 6px;
            background-color: var(--primary-color-light);
            position: relative;
            transition: var(--tran-05);
        }

        .menu-bar .mode .sun-moon {
            height: 50px;
            width: 60px;
        }

        .mode .sun-moon i {
            position: absolute;
        }

        .mode .sun-moon i.sun {
            opacity: 0;
        }

        body.dark .mode .sun-moon i.sun {
            opacity: 1;
        }

        body.dark .mode .sun-moon i.moon {
            opacity: 0;
        }

        .menu-bar .bottom-content .toggle-switch {
            position: absolute;
            right: 0;
            height: 100%;
            min-width: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 6px;
            cursor: pointer;
        }

        .toggle-switch .switch {
            position: relative;
            height: 22px;
            width: 40px;
            border-radius: 25px;
            background-color: var(--toggle-color);
            transition: var(--tran-05);
        }

        .switch::before {
            content: '';
            position: absolute;
            height: 15px;
            width: 15px;
            border-radius: 50%;
            top: 50%;
            left: 5px;
            transform: translateY(-50%);
            background-color: var(--sidebar-color);
            transition: var(--tran-04);
        }

        body.dark .switch::before {
            left: 20px;
        }

        .home {
            position: absolute;
            top: 0;
            left: 250px;
            height: 100vh;
            width: calc(100% - 250px);
            background-color: var(--body-color);
            transition: var(--tran-05);
        }

        .home .text {
            font-size: 30px;
            font-weight: 500;
            color: var(--text-color);
            padding: 12px 60px;
        }

        .sidebar.close~.home {
            left: 78px;
            height: 100vh;
            width: calc(100% - 78px);
        }

        body.dark .home .text {
            color: var(--text-color);
        }

        .icon::after {
            color: white;
        }

        //////////////////////////////////////////////////////////////////////////////
        .profile {
            position: relative;
            text-align: center;
            margin-top: 60px
        }

        .profile {
            position: relative;
            margin-left: 95.5%;
        }

        #linkpro {
            color: white;
            height: 30px;
        }

        .username {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 2px solid #DA70D6;
            cursor: pointer;
            display: flex;
            justify-content: center;
            background-color: #7c0678;
            color: white;
            font-size: 20px;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            min-width: 160px;
            z-index: 1;
            transition: all 2s;
            margin-bottom: 10%;
        }

        .dropdown-content a {
            text-decoration: none;
            display: block
        }

        .dropdown:hover .dropdown-content {
            display: block
        }

        .profile #ulprof {
            background-color: #DA70D6;
            width: 200px;
            height: 230px;
            border-radius: 10px;
            right: 125px;
            top: 7px;
            position: absolute;
            padding: 8px;
            transition: all 0.5s;
            z-index: 1;
            margin-top: calc(-4%);
        }

        .profile #ulprof::before {
            content: '';
            position: absolute;
            background-color: #DA70D6;
            height: 10px;
            width: 10px;
            top: -5px;
            right: 10px;
            transform: rotate(45deg)
        }

        #liprof {
            list-style: none;
            text-align: left;
            font-size: 15px;
            padding: 10px;
            display: flex;
            align-items: center;
            transition: all 0.5s;
            cursor: pointer;
            border-radius: 4px
        }

        #liprof:hover {
            background-color: #7c0678;
            border-radius: 4px
        }

        #liprof i {
            margin-right: 7px
        }

        i {
            color: white;
        }

        ////////////////////////////////////////////////////////////////////////////////

        .block,
        .card {
            background: #fff;
            margin-bottom: 1.5rem;
        }

        .avatar {
            position: relative;
            line-height: 1;
            border-radius: 500px;
            white-space: nowrap;
            font-weight: 700;
            border-radius: 100%;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-pack: center;
            justify-content: center;
            -ms-flex-align: center;
            align-items: center;
            -ms-flex-negative: 0;
            flex-shrink: 0;
            border-radius: 500px;
        }

        .avatar img {
            border-radius: inherit;
            width: 100%;
        }

        .gd-primary {
            font-family: cursive;
            color: rgb(54, 54, 54);
            border-style: solid;
            border-color: #DA70D6;
        }

        .profileimgg {
            width: 250px;
            height: 250px;
            border-radius: 50%;
            border-width: 1px;
            border: 2px solid #DA70D6;
            cursor: pointer;
        }


        .list {
            padding-left: 0;
            padding-right: 0;
        }

        .list-item {
            position: relative;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
        }

        .list-row .list-item {
            -ms-flex-direction: row;
            flex-direction: row;
            -ms-flex-align: center;
            align-items: center;
        }

        .list-row .list-item>* {
            padding-left: .625rem;
            padding-right: .625rem
        }

        .no-wrap {
            white-space: nowrap
        }

        .text-color {
            color: #5e676f
        }

        .text-gd {
            -webkit-background-clip: text;
            -moz-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            -moz-text-fill-color: transparent;
            text-fill-color: transparent
        }

        .text-sm {
            font-size: .825rem
        }

        .h-1x {
            height: 1.25rem;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical
        }


        .w-48 {
            width: 300px !important;
            height: 300px !important
        }


        a:link {

            text-decoration: none;
        }



        #urltitre {
            color: rgb(161, 159, 159);
            font: italic small-caps bold 16px/2 cursive;
        }

        #urltitre:hover {
            color: #DA70D6;
        }

        #textsous {
            color: #5e676f
        }

        .list {
            background-color: white;
            border-radius: 5px;
            border: 1px solid rgb(175, 175, 175);
        }

        #liste {
            color: #18191a;
            font: italic small-caps bold 30px/2 cursive;
        }

        .partie {
            background-color: white;
        }

        .btnvoir {
            background-color: #ffd900cb;
            border-radius: 4px;
            border: 2px solid #ffd900cb;
            cursor: pointer;
        }

        .btnadd {
            background-color: #ffd900cb;
            border-radius: 4px;
            border: 2px solid #ffd900cb;
            cursor: pointer;
            margin-left: 84.5%;
            font-size: 15px;
            padding: 0.5%;
        }

        .iconadd {
            color: #18191a;
        }

        #urltitreg {
            color: #DA70D6;
        }

        .iconcog {
            color: #18191a;
            margin-left: 95%;
        }

        .iconcog:hover {
            color: white;

            background-color: var(--primary-color);
            padding: 0.2%;
            border-radius: 5px;
        }

        #hrm {

            border: 10px solid var(--body-color);
            border-radius: 5px;
        }

        .sidebar {
            background-color: #7c0678;
            color: white;
        }
    </style>
</head>

<body>

    <nav class="sidebar close">


        <header>
            <div class="image-text">

                <a href="/">
                    <span class="image">
                        <img class="logo1" alt="drawing" src=".\img\logo1.png">
                    </span>
                </a>

                <div class="text logo-text">
                    <span class="name">TrackMySite</span>
                </div>
            </div>

            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">

                <ul class="menu-links">
                    <li class="nav-link active">
                        <a href="#" class="active">
                            <i class="fa fa-file-text icon" aria-hidden="true"></i>
                            <span class="text nav-text">Liste des projets</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="/addUrl">
                            <i class="fa fa-plus-square icon" aria-hidden="true"></i>
                            <span class="text nav-text">Ajouter projet</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-bell icon'></i>
                            <span class="text nav-text">Notifications</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-pie-chart-alt icon'></i>
                            <span class="text nav-text">Stats</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-heart icon'></i>
                            <span class="text nav-text">Favourites</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-wallet icon'></i>
                            <span class="text nav-text">Money</span>
                        </a>
                    </li>

                </ul>
            </div>

            <div class="bottom-content">
                <li class="">
                    <a href="/logout">
                        <i class='bx bx-log-out icon'></i>
                        <span class="text nav-text">Logout</span>
                    </a>
                </li>

            </div>
        </div>

    </nav>


    <section class="home">

        <div class="partie">
            <li class="nav-item">
                <div class="dropdown">
                    <div class="profile">
                        <div class="username"><b>{{client.first_letter}}</b></div>
                        <div class="dropdown-content">
                            <ul id="ulprof">
                                <li id="liprof">
                                    <i class='bx bx-user'></i>
                                    <span>
                                        <a href="#" id="linkpro">
                                            Projets
                                        </a>
                                    </span>
                                    <div></div>
                                </li>
                                <li id="liprof">
                                    <i class='bx bx-cog'></i>
                                    <span>
                                        <a href="/profile" id="linkpro">
                                            Profile
                                        </a>
                                    </span>
                                </li>
                                <li id="liprof">
                                    <i class='bx bx-cog'></i>
                                    <span>
                                        <a href="/#" id="linkpro">
                                            Help
                                        </a>
                                    </span>
                                </li>
                                <li id="liprof">
                                    <i class='bx bx-log-in-circle'></i>
                                    <span>
                                        <a href="/logout" id="linkpro">
                                            Logout
                                        </a>
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
        </div>

        <div class="text back">
            <div id="urlsblock">
                <div class="desc py-4 align-items-center">
                    <div class="page-content page-container justify-content-center" id="page-content">
                        <div class="padding">
                            <div class="row">
                                <div>
                                    <p id="liste">Liste des projets</p>
                                    <a href="/updateProfile">
                                        {{#each urls}}
                                        <div class="list list-row block">
                                            <div class="list-item list-group-item d-flex justify-content-between align-content-center"
                                                data-id="7">
                                                <div>
                                                    <div id="urltitreg">
                                                        <b>{{titre}}</b>
                                                    </div>

                                                    <div id="urltitre">
                                                        {{url}}
                                                    </div>

                                                    <form action="/" method="POST">
                                                        <button type="submit" class=" btn btnvoir">Voir
                                                            Dashboard
                                                        </button>

                                                    </form>

                                                </div>

                                            </div>
                                            <a href="/">
                                                <i class="fa fa-cog iconcog" aria-hidden="true"></i></a>
                                        </div>


                                        <hr id="hrm">
                                        {{/each}}
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <form action="/addUrl" method="GET">
            <button type="submit" class=" btn btnadd">

                <i class="fa fa-plus-square-o iconadd" aria-hidden="true"></i>
                Ajouter projet</button>
        </form>
        <br>
    </section>
</body>

</html>